.profile-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding-bottom: 50px;
  h1 {
    margin-bottom: 40px;
  }

  h2 {
    margin-bottom: 40px;
  }

  .img-form-container {
    display: flex;
    width: 100%;

    .profile-img-container {
      padding: 0 50px;
      img {
        object-fit: cover;
        width: 150px;
        height: 150px;
      }
    }
  }
}

@media only screen and (min-width: 1070px) {
  .profile-container {
    .img-form-container {
      .form-container {
        align-self: center;
        width: 500px;
      }
    }
  }
}

@media only screen and (max-width: 1069px) {
  .img-form-container {
    flex-direction: column;
    align-items: center;
    .profile-img-container {
      margin-bottom: 50px;
    }

    .form-container {
      width: 90%;
    }
  }
}

/* .ant-select.ant-select-in-form-item.phone-select {
  width: 80px;
} */

/* .ant-form-item-control-input-content:has(> .form-button) { */
