.profile-container {
  display: flex;
  flex-direction: column;
}

.profile-container h1 {
  margin-bottom: 40px;
}

.profile-container h2 {
  margin-bottom: 40px;
}

.form-container {
  align-self: center;
  width: 500px;
}

.ant-select.ant-select-in-form-item.phone-select {
  width: 80px;
}

.register-area {
  margin-bottom: 8px;
}
