<div class="info-window-container">
  <div class="img-container">
    <img nz-image [nzSrc]="imgSrc" alt="" />
  </div>
  <div class="non-img-container">
    <div class="description-date-container">
      <div class="date-posted">
        <span>Date posted: dd MM YYYY</span>
      </div>
      <div class="description-container">
        <span>Some description</span>
      </div>
    </div>
    <div class="account-container">
      <div class="account-img-container">
        <img nz-image [nzSrc]="imgSrc" alt="" />
      </div>
      <div class="account-name-container">Juan DelaCruz</div>
    </div>
  </div>
</div>
