<div class="markerDetailsInput-container">
  <div class="form-container">
    <form nz-form [formGroup]="inputForm" (ngSubmit)="submitForm()">
      <nz-form-item>
        <nz-form-label
          nz-col
          [nzFlex]="nzFlexLabel"
          nz-form-label
          nzFor="image"
        >
          Image
        </nz-form-label>
        <nz-form-control nz-col [nzFlex]="nzFlexControl">
          <nz-upload
            [nzAction]="action"
            nzListType="picture"
            [nzPreviewFile]="previewFile"
          >
            <button nz-button>
              <span nz-icon nzType="upload"></span>
              Upload
            </button>
          </nz-upload>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label
          nz-col
          [nzFlex]="nzFlexLabel"
          nz-form-label
          nzFor="state"
        >
          State
        </nz-form-label>
        <nz-form-control
          nz-col
          [nzFlex]="nzFlexControl"
          nzErrorTip="Please choose a state"
        >
          <nz-select nzFor="state" formControlName="state">
            <nz-option nzValue="dirty" nzLabel="Dirty"></nz-option>
            <nz-option nzValue="clean" nzLabel="Clean"></nz-option>
            <nz-option nzValue="safe" nzLabel="Safe"></nz-option>
          </nz-select>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item nz-row>
        <nz-form-label
          nz-col
          [nzFlex]="nzFlexLabel"
          nz-form-label
          nzFor="descrption"
        >
          Description
        </nz-form-label>
        <nz-form-control
          nz-col
          [nzFlex]="nzFlexControl"
          nzErrorTip="The input must contain some description"
        >
          <textarea
            nz-input
            formControlName="descrption"
            id="descrption"
          ></textarea>
        </nz-form-control>
      </nz-form-item>
      <!-- <nz-form-item nz-row nzJustify="end">
        <nz-form-control nz-col nzSpan="4">
          <button nz-button nzType="primary">submit</button>
        </nz-form-control>
      </nz-form-item> -->
    </form>
  </div>
</div>
