<div class="knowledge-container">
  <div>
    <h1 nz-typography>Knowledge</h1>
  </div>
  <div>
    <h2 nz-typography>Water Conservation links</h2>
    <nz-list nzItemLayout="horizontal">
      @for (source of conservation; track source) {
        <nz-list-item>
          <nz-list-item-meta>
            <nz-list-item-meta-title>
              <a [href]="source.link" target="_blank">{{ source.title }}</a>
            </nz-list-item-meta-title>
          </nz-list-item-meta>
        </nz-list-item>
      }
      @if (conservation.length === 0) {
        <nz-list-empty />
      }
    </nz-list>
  </div>
  <div>
    <h2 nz-typography>Water Sanitation links</h2>
    <nz-list nzItemLayout="horizontal">
      @for (source of sanitation; track source) {
        <nz-list-item>
          <nz-list-item-meta>
            <nz-list-item-meta-title>
              <a [href]="source.link" target="_blank">{{ source.title }}</a>
            </nz-list-item-meta-title>
          </nz-list-item-meta>
        </nz-list-item>
      }
      @if (sanitation.length === 0) {
        <nz-list-empty />
      }
    </nz-list>
  </div>
</div>
