<div class="map-container">
  <google-map
    [mapId]="'project-map'"
    [height]="'100%'"
    [width]="'100%'"
    [center]="center"
    [zoom]="zoom"
    [options]="mapOptions"
    (mapClick)="addMarker($event)"
    (mapMousemove)="move($event)"
  >
  @for (position of markerPositions; track position) {
      <map-advanced-marker [position]="position" [options]="markerOptions" (click)="clickMarker(position)" />

    }
  </google-map>
  <!-- <button (click)="addMarker($event)">PRESS ME</button> -->
  {{ markerPositions | json }}
</div>
