<div class="map-container">
  <google-map
    [mapId]="'project-map'"
    [height]="'100%'"
    [width]="'100%'"
    [center]="center"
    [zoom]="zoom"
    [options]="mapOptions"
    (mapClick)="openInputModal($event)"
    (mapMousemove)="move($event)"
  >
    @for (position of markerPositions; track position) {
      <app-marker
        [position]="position"
        (openInfoWindowEvent)="openInfoWindow($event)"
      />
    }
    <map-info-window>
      {{ infoWindowContents }}
    </map-info-window>
  </google-map>
  <app-modal (formIsSubmitEvent)="addMarker($event)"></app-modal>
</div>
{{ markerPositions | json }}
