<div class="map-container">
  <google-map
    [mapId]="'project-map'"
    [height]="'100%'"
    [width]="'100%'"
    [center]="center"
    [zoom]="zoom"
    [options]="mapOptions"
    (mapClick)="openInputModal($event)"
    (mapMousemove)="move($event)"
  >
    @for (marker of markerArray; track marker.markerId) {
      <app-marker
        [markerInput]="marker"
        (openInfoWindowEvent)="openInfoWindow($event)"
      />
    }
    <map-info-window>
      <app-info-window [markerData]="markerData"></app-info-window>
    </map-info-window>
  </google-map>
  <app-modal (formIsSubmitEvent)="addMarker($event)"></app-modal>
</div>
